<!-- Content Row -->
    <div class="row">

        <div class="col-md-3">
            <div class="card shadow mb-6">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Symbol</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body h2 font-weight-bold">
                    {{page.symbol}}
                </div>
            </div>
            <br/>
        </div>

        <div class="col-md-3">
            <div class="card shadow mb-6">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Decimals</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body h2 font-weight-bold">
                    {{page.decimals}}
                </div>
            </div>
            <br/>
        </div>

        <div class="col-md-3">
            <div class="card shadow mb-6">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Rate</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body h3 font-weight-bold">
                    1 Wei = {{page.rate}} {{page.symbol}} Bits
                </div>
            </div>
            <br/>
        </div>

        <div class="col-md-3">
            <div class="card shadow mb-6">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Start Date</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body h4 font-weight-bold">
                    {{page.startDate}} {{page.timezone}}
                </div>
            </div>
            <br/>
        </div>

        <div class="col-md-3">
            <div class="card shadow mb-6">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">End Date</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body h4 font-weight-bold">
                    {{page.endDate}} {{page.timezone}}
                </div>
            </div>
            <br/>
        </div>

        <div class="col-md-3">
            <div class="card shadow mb-6">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Total Raised</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body h2 font-weight-bold">
                    {{page.totalRaised}} ETH
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow mb-6">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Max Supply</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body h2 font-weight-bold">
                    {{page.maxSupply}} {{page.symbol}}
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow mb-6">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Goal</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body h2 font-weight-bold">
                    {{page.goal}} ETH
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow mb-6">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Hard Cap</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body h2 font-weight-bold">
                    {{page.hardCap}} {{page.symbol}}
                </div>
            </div>
        </div>

    </div>

